<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search Engine</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <% if (currentUser) { %>
            <p>Welcome, <%= currentUser %>!</p>
            <a href="/auth/logout">Logout</a>
        <% } else { %>
            <a href="/auth/signup">Sign Up</a>
            <a href="/auth/login">Log In</a>
        <% } %>
    </nav>
    <% if (currentUser) { %>
        <h1>Welcome to the Recipe Search Engine</h1>
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search for recipes">
            <select name="database">
                <option value="mongo">MongoDB</option>
                <option value="postgre">PostgreSQL</option>
                <option value="both">Both</option>
            </select>
            <button type="submit">Search</button>
        </form>
        <p>current options POSTGRE (testing purposes only): <br>
            1. Beef Stir Fry<br>
            2. Chocolate Chip Cookies<br>
            3. Caesar Salad<br>
            4. Chicken Alfredo<br>
            5. Spaghetti Bolognese<br>
            6. Blueberry Pancakes<br>
        </p>
        <p>current options MONGO (testing purposes only): <br>
            1. BBQ Ribs<br>
            2. Peanut Butter Brownies<br>
            3. Strawberry Shortcake<br>
            4. Raspberry Cheesecake<br>
            5. Beef Tacos<br>
            6. Caesar Salad<br></p>
    <% } else { %>
        <p>Please <a href="/auth/login">Log In</a></p>
    <% } %>
</body>
</html>


