<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search Engine</title>
    <link rel="stylesheet" href="/landing.css">
</head>
<body>
    <nav class="nav-container">
        <div class="nav-content">
            <% if (currentUser) { %>
                <p class="welcome-message">Welcome, <%= currentUser %>!</p>
                <a href="/auth/logout" class="signout-button">Sign Out</a>
            <% } else { %>
                <p id="loginNeeded">Please <a href="/auth/login">Log In</a></p>
            <% } %>
        </div>
    </nav>
    <main class="container">
        <div class="container">
            <% if (currentUser) { %>
                <h1 class="main-title">Welcome to the Recipe Search Engine</h1>
                <form action="/search" method="GET" class="search-form">
                    <input type="text" name="query" placeholder="Search for recipes" class="search-input">
                    <select name="database" class="search-select">
                        <option value="mongo">MongoDB</option>
                        <option value="postgre">PostgreSQL</option>
                        <option value="both">Both</option>
                    </select>
                    <button type="submit" class="search-button">Search</button>
                </form>
            <% } else { %>
            <% } %>
        </div>
        <% if (currentUser) { %>
            <div class="options">
                <div class="options-list">
                    <p>current options POSTGRE (testing purposes only): <br>
                        <span class="recipe-option">1. Beef Stir Fry</span><br>
                        <span class="recipe-option">2. Chocolate Chip Cookies</span><br>
                        <span class="recipe-option">3. Caesar Salad</span><br>
                        <span class="recipe-option">4. Chicken Alfredo</span><br>
                        <span class="recipe-option">5. Spaghetti Bolognese</span><br>
                        <span class="recipe-option">6. Blueberry Pancakes</span><br>
                    </p>
                </div>
                <div class="options-list">
                    <p>current options MONGO (testing purposes only): <br>
                        <span class="recipe-option">1. BBQ Ribs</span><br>
                        <span class="recipe-option">2. Peanut Butter Brownies</span><br>
                        <span class="recipe-option">3. Strawberry Shortcake</span><br>
                        <span class="recipe-option">4. Raspberry Cheesecake</span><br>
                        <span class="recipe-option">5. Beef Tacos</span><br>
                        <span class="recipe-option">6. Caesar Salad</span><br>
                    </p>
                </div>
            </div>
        <% } %>
    </main>
</body>
</html>





