body, h1, h2, p, ul, li, form, input, button, a {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
}

/* Global Styles */
body {
    background-color: #cf0606;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* Header */
h1 {
    text-align: center;
    margin: 20px 0;
}

/* Form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

input[type="text"],
select,
button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 5px;
}

button {
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

/* Search Results */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

ul li h2 {
    margin-bottom: 10px;
}

ul li img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

/* Error and Success Messages */
.error-message, .success-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.error-message {
    background-color: #ffcccc;
    color: #ff0000;
}

.success-message {
    background-color: #ccffcc;
    color: #00cc00;
}